<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <!-- HTTP BASIC with roles-->
    <!-- <http>  
        <intercept-url pattern="/jspRegController" access="ROLE_USER" />  
        <intercept-url pattern="/fetchController" access="ROLE_ADMIN" /> 
        <http-basic/>
        	<form-login login-page="/loginSecurity" default-target-url="/defaultPage" authentication-failure-url="/loginFail"
        	 username-parameter="email" password-parameter="password" />
        <logout logout-success-url="/defaultPage"/>
    </http> -->
        
        <!-- HTTP Form Based with roles-->
    <!-- <http>  
    	<intercept-url pattern="/jspRegController" access="ROLE_USER, ROLE_ADMIN, ROLE_DBA" />  
    	<intercept-url pattern="/registerController" access="ROLE_USER, ROLE_ADMIN" />  
        <intercept-url pattern="/fetchController" access="ADMIN" />
        	<form-login login-page="/loginSecurity" default-target-url="/defaultPage" authentication-failure-url="/loginFail"
        	 username-parameter="email" password-parameter="password" /> 
        <logout logout-success-url="/defaultPage"/>
    </http> -->
    
        <!-- HTTP Form Based with custom roles-->
    <http access-decision-manager-ref="accessDecisionManager">
		<intercept-url pattern="/jspRegController" access="USER, ADMIN" />  
    	<intercept-url pattern="/registerController" access="USER, ADMIN, DBA" />  
        <intercept-url pattern="/fetchController" access="ADMIN" />
        <form-login login-page="/loginSecurity" default-target-url="/defaultPage" authentication-failure-url="/loginFail"
        	 username-parameter="email" password-parameter="password" /> 
        <access-denied-handler error-page="/accessDenied" />
        <logout logout-success-url="/defaultPage"/>
	</http>
	
    <!-- <authentication-manager>  
      <authentication-provider>  
        <user-service>  
        	<user name="user" password="user" authorities="ROLE_USER" />  
        	<user name="admin" password="admin" authorities="ROLE_ADMIN" />  
        </user-service>  
      </authentication-provider>  
    </authentication-manager> -->  
    
    <authentication-manager>
		<authentication-provider>
		<jdbc-user-service data-source-ref="dataSource" 
			authorities-by-username-query ="SELECT us.email, us.role FROM test.testuser us where email=?"
			users-by-username-query="SELECT us.email, us.password, true FROM test.testuser us where email=?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>  